#!/usr/bin/make -f
#export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	: # Nothing to build

override_dh_auto_install:
	$(MAKE) SBINDIR=`pwd`/debian/tmp/usr/sbin \
		SYSTEMDDIR=`pwd`/debian/tmp/lib/systemd/system install

override_dh_installsystemd:
	dh_installsystemd -pconfig-gate-worker --no-start worker-config-gate.service
	dh_installsystemd -pconfig-gate --no-start config.service
