Source: controllerconfig
Priority: optional
Maintainer: StarlingX team <starlingx-discuss@lists.starlingx.io>
Build-Depends: python-setuptools,
               python-all,
               debhelper,
               dh-python,
               python-pip,
               python-wheel
Standards-Version: 3.9.6

Package: controllerconfig
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         python-pyudev,
         psmisc,
         systemd,
         python-cryptography,
         python-keyring,
         python-netifaces,
         python-iso8601,
         python-pysnmp4,
         python-netaddr,
         python-six,
         python-yaml,
         python-oslo-utils,
         tsconfig,
         sysinv,
         fm-api
Description: This package contains the controllerconfig project.
