#!/usr/bin/make -f

export PYBUILD_INSTALL_ARGS=--install-data=/usr/share --prefix=/usr --single-version-externally-managed
export PBR_VERSION=1.0

%:
	dh $@ --with python2 --buildsystem=pybuild

override_dh_auto_test:
	echo "skipping test"
