[run]
source =
    controllerconfig
    tsconfig
omit =
    */tests/*
    */test/*
    */.tox/*
    */.eggs/*
    */setup.py
    */conftest.py
    */tidy_storage.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__
    raise NotImplementedError
    pass
show_missing = True
fail_under = 85

[html]
directory = UTCoverage/htmlcov

[xml]
output = UTCoverage/coverage.xml
