[Unit]
Description=General TIS config gate
After=sw-patch.service
Before=serial-getty@ttyS0.service getty@tty1.service
# Each config service must have a Before statement against config.service, to ensure ordering

[Service]
Type=oneshot
ExecStart=/usr/sbin/wait_for_config_init.sh
ExecStop=
ExecReload=
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

