[Unit]
Description=Storage node config agent
# This unit exists to suppress systemd-sysv-generator warnings.
# The actual service is managed by storageconfig.service.
