#!/usr/bin/make -f
#export DH_VERBOSE=1

PKGDIR=$(CURDIR)/debian/tmp

export INITDDIR=$(PKGDIR)/etc/init.d
export GOENABLEDDIR=$(PKGDIR)/etc/goenabled.d
export SYSTEMDDIR=$(PKGDIR)/lib/systemd/system

%:
	dh $@

override_dh_auto_build:
	: # nothing to be built, just skip

override_dh_fixperms:
	dh_fixperms -Xstorage_config

override_dh_installsystemd:
	dh_installsystemd --name storageconfig
