[run]
branch = True
parallel = True
source = sysinv
omit = */tests/*
concurrency = multiprocessing

[report]
ignore_errors = True
omit = */tests/*
exclude_lines =
    pragma: no cover
    if __name__ == .__main__
    raise NotImplementedError
