# Requirements for Trixie (Python 3.13)
pbr>=7.0  # Apache-2.0
SQLAlchemy>=2.0  # MIT
amqplib>=1.0  # LGPL
boto3>=1.43  # Apache-2.0
botocore>=1.43  # Apache-2.0
cryptography>=3.3  # BSD/Apache-2.0
dnspython>=2.7  # ISC
eventlet>=0.40  # MIT
greenlet>=3.5  # MIT
keyring>=25.6  # MIT
kombu>=5.5  # BSD
lxml>=5.2  # BSD
WebOb>=1.8  # MIT
netaddr>=1.3  # BSD
paramiko>=3.5  # LGPL
passlib>=1.7  # BSD
iso8601>=2.1  # MIT
oslo.i18n>=6.5  # Apache-2.0
oslo.config>=9.7  # Apache-2.0
oslo.concurrency>=7.1  # Apache-2.0
oslo.log>=7.1  # Apache-2.0
oslo.db>=17.2  # Apache-2.0
oslo.messaging>=16.1  # Apache-2.0
oslo.rootwrap>=7.10  # Apache-2.0
oslo.service>=4.1  # Apache-2.0
oslo.utils>=8.2  # Apache-2.0
oslo.serialization>=5.7  # Apache-2.0
python-cinderclient>=9.7  # Apache-2.0
python-glanceclient>=4.8  # Apache-2.0
python-keystoneclient>=5.6  # Apache-2.0
keystonemiddleware>=10.9  # Apache-2.0
stevedore>=5.4  # Apache-2.0
websockify>=0.12  # LGPLv3
pecan>=1.5  # BSD
retrying>=1.4  # Apache-2.0
six>=1.17  # MIT
jsonpatch>=1.32  # BSD
WSME>=0.13  # MIT
pyghmi>=1.6  # Apache-2.0
PyYAML>=6.0  # MIT
psutil>=7.2  # BSD
simplejson>=4.1  # MIT
ruamel.yaml>=0.19  # MIT
docker>=7.1  # Apache-2.0
kubernetes>=35.0  # Apache-2.0
pyudev>=0.24  # LGPLv2.1+
psycopg2-binary>=2.9  # LGPL
pyelftools>=0.33  # Public domain
python-barbicanclient>=7.1  # Apache-2.0
rfc3986>=2.0  # Apache-2.0
oslo.policy>=4.5  # Apache-2.0
wheel>=0.45  # MIT
zerorpc @ git+https://github.com/0rpc/zerorpc-python.git@99ee6e47c8baf909b97eec94f184a19405f392a2  # MIT
oic>=1.7  # Apache-2.0
pyjwkest>=1.4  # Apache-2.0
prettytable>=3.6  # BSD
requests-toolbelt>=1.0  # Apache-2.0
python-dateutil>=2.9  # Apache-2.0/BSD
netifaces>=0.10.4  # MIT
pycryptodomex>=3.20  # BSD
