pathlib;python_version=='2.7'
pbr>=0.5
SQLAlchemy
amqplib>=0.6.1
boto3
botocore
cryptography!=2.0  # BSD/Apache-2.0
eventlet
greenlet>=0.3.2 # MIT
keyring
kombu>=2.4.8
lxml>=2.3
WebOb>=1.7.1  # MIT
sqlalchemy-migrate>=0.7
netaddr
paramiko>=1.8.0
passlib>=1.7.0
iso8601>=0.1.4
oslo.i18n  # Apache-2.0
oslo.config>=3.7.0 # Apache-2.0
oslo.concurrency>=3.7.1 # Apache-2.0
oslo.log # Apache-2.0
oslo.db>=4.1.0 # Apache-2.0
oslo.messaging!=9.0.0  # Apache-2.0
oslo.rootwrap>=5.8.0 # Apache-2.0
oslo.service>=1.10.0 # Apache-2.0
oslo.utils>=3.5.0 # Apache-2.0
oslo.serialization>=1.10.0,!=2.19.1      # Apache-2.0
python-cinderclient>=3.1.0  # Apache-2.0
python-glanceclient>=2.8.0  # Apache-2.0
python-keystoneclient>=3.8.0  # Apache-2.0
keystonemiddleware>=4.12.0  # Apache-2.0
stevedore>=0.10
websockify>=0.8.0  # LGPLv3
pecan>=1.0.0
retrying!=1.3.0  # Apache-2.0
six>=1.4.1
jsonpatch>=1.1
WSME>=0.5b2
pyghmi
PyYAML>=3.10
psutil
simplejson>=2.2.0 # MIT
ruamel.yaml>=0.13.14 # MIT
docker  # Apache-2.0
kubernetes  # Apache-2.0
pyudev
migrate
python-ldap>=3.1.0
psycopg2-binary
python-barbicanclient
rfc3986
importlib-metadata>=3.3.0;python_version=="3.6"
importlib-resources==5.2.2;python_version=="3.6"
oslo.policy # Apache-2.0
zerorpc @ git+https://github.com/0rpc/zerorpc-python.git@99ee6e47c8baf909b97eec94f184a19405f392a2 # MIT
