Source: sysinv-fpga-agent
Section: admin
Priority: optional
Maintainer: StarlingX Developers <starlingx-discuss@lists.starlingx.io>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Rules-Requires-Root: no

Package: sysinv-fpga-agent
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, logrotate, rsyslog
Description: StarlingX FPGA agent monitor
 Startup Scripts for StarlingX FPGA agent monitor
