#!/usr/bin/make -f
#export DH_VERBOSE = 1

ROOT := $(CURDIR)/debian/tmp

%:
	dh $@

override_dh_install:
	install -p -D -m 755 sysinv-fpga-agent ${ROOT}/etc/init.d/sysinv-fpga-agent
	install -p -D -m 644 sysinv-fpga-agent.conf ${ROOT}/etc/pmon.d/sysinv-fpga-agent.conf
	dh_install

override_dh_usrlocal:
	# do nothing

override_dh_installsystemd:
	dh_installsystemd --name=sysinv-fpga-agent sysinv-fpga-agent.service
	dh_installsystemd --name=sysinv-conf-watcher sysinv-conf-watcher.service
	dh_installsystemd --name=sysinv-conf-watcher sysinv-conf-watcher.path
