[Unit]
Description=PM QoS CPU wakeup latency manager for kubelet cpu-manager
After=syslog.target network-online.target remote-fs.target sw-patch.service
Before=kubelet.service

[Service]
Type=simple
ExecStart=/usr/bin/pm-qos-mgr

[Install]
WantedBy=multi-user.target
