[Unit]
Description=Titanium Cloud Affine Platform
After=syslog.service network.service dbus.service sw-patch.service
Before=workerconfig.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/init.d/affine-platform.sh start
ExecStop=/etc/init.d/affine-platform.sh stop
ExecReload=/etc/init.d/affine-platform.sh restart

[Install]
WantedBy=multi-user.target
