[Unit]
Description=Titanium Cloud Compute Huge
After=syslog.service network.service affine-platform.sh.service sw-patch.service
Before=sshd.service sw-patch-agent.service sysinv-agent.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/init.d/compute-huge.sh start
ExecStop=/etc/init.d/compute-huge.sh stop
ExecReload=/etc/init.d/compute-huge.sh restart

[Install]
WantedBy=multi-user.target
