#!/usr/bin/make -f
#export DH_VERBOSE=1

ROOT := $(CURDIR)/debian/tmp
PMONDIR := ${ROOT}/usr/share/starlingx/pmon.d

%:
	dh $@

override_dh_install:
	install -p -D -m 755 sysinv-agent ${ROOT}/etc/init.d/sysinv-agent
	install -p -D -m 644 sysinv-agent.conf ${ROOT}/etc/pmon.d/sysinv-agent.conf
	install -p -D -m 644 sysinv-agent.conf ${PMONDIR}/sysinv-agent.conf
	dh_install

override_dh_installinit:
	dh_installinit --only-scripts

override_dh_installsystemd:
	dh_installsystemd -psysinv-agent sysinv-agent.service
