[Unit]
Description=StarlingX System Inventory Agent
After=nfscommon.service sw-patch.service
After=network-online.target systemd-udev-settle.service remote-fs.target
Before=pmon.service

[Service]
Type=forking
RemainAfterExit=yes
ExecStart=/etc/init.d/sysinv-agent start
ExecStop=/etc/init.d/sysinv-agent stop
PIDFile=/var/run/sysinv-agent.pid

[Install]
WantedBy=multi-user.target
