Source: sysinv
Section: admin
Priority: optional
Maintainer: Starlingx Developers <StarlingX-discuss@lists.StarlingX.io>
Build-Depends: debhelper-compat (= 13),
 dh-python,
 python3-all,
 python3-pbr,
 python3-setuptools,
 python3-wheel
Build-Depends-Indep:
 python3-sqlalchemy,
 python3-amqplib,
 python3-boto3,
 python3-botocore,
 python3-cryptography,
 python3-eventlet,
 python3-greenlet,
 python3-keyring,
 python3-kombu,
 python3-lxml,
 python3-webob,
 python3-migrate,
 python3-netaddr,
 python3-paramiko,
 python3-passlib,
 python3-iso8601,
 python3-oslo.i18n,
 python3-oslo.config,
 python3-oslo.concurrency,
 python3-oslo.log,
 python3-oslo.db,
 python3-oslo.messaging,
 python3-oslo.policy,
 python3-oslo.rootwrap,
 python3-oslo.service,
 python3-oslo.utils,
 python3-oslo.serialization,
 python3-cinderclient,
 python3-glanceclient,
 python3-keystoneclient,
 python3-keystonemiddleware,
 python3-stevedore,
 python3-websockify,
 python3-pecan,
 python3-retrying,
 python3-six,
 python3-jsonpatch,
 python3-wsme,
 python3-pyghmi,
 python3-yaml,
 python3-psutil,
 python3-simplejson,
 python3-rpm,
 python3-ruamel.yaml,
 python3-docker,
 python3-kubernetes,
 python3-pyudev,
 python3-ldap,
 python3-psycopg2,
 python3-barbicanclient,
 python3-rfc3986,
 python3-coverage,
 python3-fixtures,
 python3-mock,
 python3-requests-mock,
 python3-oslotest,
 python3-stestr,
 python3-testrepository,
 python3-testtools,
 python3-pycryptodome,
 python3-fmclient,
 python3-cgcs-patch,
 tsconfig,
 python3-fm-api,
 python3-platform-util,
 python3-cephclient,
 zerorpc-python,
 cgts-client,
 controllerconfig
Standards-Version: 4.5.1
Homepage: https://www.starlingx.io
Rules-Requires-Root: no

Package: sysinv
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends},
 python3-sqlalchemy,
 python3-amqplib,
 python3-boto3,
 python3-botocore,
 python3-cryptography,
 python3-eventlet,
 python3-greenlet,
 python3-keyring,
 python3-kombu,
 python3-lxml,
 python3-webob,
 python3-migrate,
 python3-netaddr,
 python3-paramiko,
 python3-passlib,
 python3-iso8601,
 python3-oslo.i18n,
 python3-oslo.config,
 python3-oslo.concurrency,
 python3-oslo.log,
 python3-oslo.db,
 python3-oslo.messaging,
 python3-oslo.policy,
 python3-oslo.rootwrap,
 python3-oslo.service,
 python3-oslo.utils,
 python3-oslo.serialization,
 python3-glanceclient,
 python3-keystoneclient,
 python3-keystonemiddleware,
 python3-stevedore,
 python3-websockify,
 python3-pecan,
 python3-retrying,
 python3-six,
 python3-jsonpatch,
 python3-wsme,
 python3-pyghmi,
 python3-yaml,
 python3-psutil,
 python3-simplejson,
 python3-rpm,
 python3-ruamel.yaml,
 python3-docker,
 python3-kubernetes,
 python3-pyudev,
 python3-ldap,
 python3-psycopg2,
 python3-barbicanclient,
 python3-rfc3986,
 tsconfig,
 python3-fm-api,
 python3-fmclient,
 controllerconfig,
 python3-cgcs-patch,
 platform-util,
 python3-cephclient,
 zerorpc-python,
 cgts-client
Description: Starlingx system inventory - daemon
 Starlingx system inventory

Package: sysinv-wheels
Architecture: all
Depends: ${misc:Depends}, python3-wheel
Description: Starlingx system inventory - wheel
 Starlingx system inventory
 ,
 This package contains the python wheels.
